<div class="content">

  <div class="game_container">
    <span id="additional_text"></span>
    <div class="game_window" id="window">
      <span id="game_text_display" [textContent]="ready ? 'Ready to Play?' : 'Complete Form to Play'"></span>
      <img (click)="image?.find_pos ? image?.check_errors ? mistake() : getPos($event) : null" *ngIf="running" id="game_image">
      <button (click)="found($event)" id="foundButton" *ngIf="running && image?.find_pos && image?.check_errors"></button>
    </div>

    <div class="present_buttons" *ngIf="running && !image?.find_pos">
      <button class="present"(click)="found($event, true)">Present</button>
      <button class="absent" (click)="found($event, false)">Absent</button>
    </div>
  </div>

  <div class="game_sidebar">

    <div class="core_side">

      <div class="game_info">
        <span class="timer" [textContent]="elapsedTime | msToTime"></span>
        <span class="img_counter">Round {{imageCounter}}/{{maxNumOfTargets}}</span>
        <span class="errors" *ngIf="image?.check_errors">{{numOfErrors}} mistakes</span>
      </div>

      <div class="game_controls">
        <button (click)="begin()" [disabled]="!ready || started" *ngIf="!ended">Begin</button>
        <button (click)="restart()" [disabled]="!ready || started" *ngIf="ended">Restart</button>
        <button (click)="end()" [disabled]="!running">End</button>
        <button (click)="pause()" id="pause" [disabled]="!running">Pause</button>
      </div>

    </div>


    <div class="legend">
      <span class="title">Controls</span>
      <div *ngIf="!image?.find_pos"><span><b>Item is Present</b>:</span><br><span>Left Arrow Key</span></div>
      <div *ngIf="!image?.find_pos"><span><b>Item is Absent</b>:</span><br><span>Right Arrow Key</span></div>
      <div *ngIf="image?.find_pos"><span><b>Select Item</b>:</span><br><span>Left Mouse Button</span></div>
      <div><span><b>Pause</b>:</span><br><span>Spacebar</span></div>
    </div>

  </div>

</div>
