<div class="content">

  <div class="game_container">
    <div class="game_window" id="window">
      <span id="game_text_display" [textContent]="ready ? 'Ready to Play?' : 'Complete Form to Play'"></span>
      <img (click)="mistake()" *ngIf="running" id="game_image">
      <button (click)="found($event)" id="foundButton" *ngIf="running"></button>
    </div>
  </div>

  <div class="game_sidebar">

    <div class="game_info">
      <span class="timer" [textContent]="elapsedTime | msToTime"></span>
      <span class="img_counter">Round {{imageCounter}}/20</span>
      <span class="errors">{{numOfErrors}} mistakes</span>
    </div>

    <div class="game_controls">
      <button (click)="begin()" [disabled]="!ready || started" *ngIf="!ended">Begin Game</button>
      <button (click)="restart()" [disabled]="!ready || started" *ngIf="ended">Restart Game</button>
      <button (click)="end()" [disabled]="!running">End Game</button>
    </div>

  </div>

</div>
