$image-path: '/assets/images/';


.whole {
  @media (min-width: 769px) {
    align-items: center;
  }
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  @media (max-height: 700px) {
    display: none;
  }

  text-align: center;
  font-size: 1.5rem;
  color: var(--secondary);
}

.main {
  @media (min-width: 769px) {
    margin-right: auto;
    margin-left: auto;
  }
  width: 95vw;
  max-width: 1700px;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  div {
    padding: 24px;
  }

  .game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid var(--secondary);
    border-radius: 12px;
  }
}

a {
  color: var(--text);
}

footer {
  @media (max-width: 768px) {
    flex-direction: column !important;
    width: calc(100%) !important;
    margin-left: 0 !important;

    #socials {
      width: 100% !important;
    }

    p {
      text-align: center;
    }
  }

  @media (max-width: 260px) {
    #socials {
      span {
        display: none;
      }
    }
  }

  @media (max-width: 232px) {
    p {
      font-size: 0.6rem;
    }
  }

  overflow: hidden;
  background: var(--primary);
  width: calc(100% + 20px);
  margin-left: -10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 64px;

  p {
    color: var(--text);
    margin-bottom: 0 !important;
  }

  #socials {
    height: 64px;
    max-width: 280px;
    padding: 0 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
      color: var(--text);
      width: 48px;
      height: 48px;
      background-repeat: no-repeat !important;
      background-position: center !important;
      background-size: cover !important;
      border-radius: 12px;
      margin-right: 12px;
    }
    #github {
      background: url('#{$image-path}github.png');
    }
  }
}
