<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="ball-circus" [fullScreen]="true">
</ngx-spinner>

<div class="whole">

  <div class="main">

    <div class="title">
      <span>Reaction Time Evaluator</span>
      <div class="modeToggle">
        <input type="checkbox" id="darkmode-toggle" (click)="toggleMode()"/>
        <label for="darkmode-toggle"></label>
      </div>
    </div>

    <div class="info-form" *ngIf="!formData">
      <app-info-form (formSubmission)="formSubmit()"></app-info-form>
    </div>

    <div class="game">
      <app-game [ready]="formData"></app-game>
    </div>

  </div>

  <footer>
    <p>© 2023 Hartman and Chandel</p>
    <p>Thanks to Dr. Roy Eagleson</p>
    <section id="socials">
      <a href="https://github.com/cchandel-dev/Visual-Search-Research" id="github" target="_blank"></a>
      <span>Github</span>
    </section>
  </footer>

</div>
