<div class="whole">

  <div class="main">
    <div class="title">
      Reaction Time Evaluator
    </div>

    <div class="info-form">

    </div>

    <div class="game">

    </div>

  </div>

  <footer>
    <section id="socials">
      <a href="https://www.linkedin.com/in/lucashartman2021/" id="linkedin" target="_blank"></a>
      <a href="https://github.com/LucasHartmanWestern" id="github" target="_blank"></a>
      <a href="https://www.instagram.com/lucas_hartman2021/" id="instagram" target="_blank"></a>
    </section>
    <p>Feel free to reach out to me at <a href="mailto:lhartma8@uwo.ca">lhartma8@uwo.ca</a></p>
    <p>© 2023 Hartman</p>
  </footer>

</div>
